h1 
{
    text-align: center;
    color: aqua;
}
body
{
    background-color:black;
}
 div
{
    align-content: center;
}
button
{
    text-transform: capitalize;
    color: black;
    background-color: aqua;
    font-weight: bolder;
}
fieldset
{
    border-width: 80% 110%;
    border-color: aquamarine;
}
.container
{
    display: flex;
    justify-content: center;
}
ul
{
    color: chartreuse;
}